# Query: <About />
# ContextLines: 1

1 result - 1 file

src/pages/EphoriaXHome.tsx:
  269        {/* ============================== ABOUT ============================ */}
  270:       <AboutSection />
  271  
